@import 'core/variables';
@import 'components/header';

.main__container {
  font-family: $mainFont;
  display: flex;
}

.grid__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.search__container {
  display: flex;
  flex-direction: column;
}

.fav-series__container {
  width: 20vw;
}

.css-card {
  color: $showyColor;
  background-color: $brightColor;
  list-style: none;
  &:hover {
    border: 3px solid $showyColor;
    cursor: pointer;
  }
}

.css-fav-li {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.css-clear-btn {
  margin: 10px 0px;
}
