@import 'core/variables';
@import 'components/header';
@import 'components/main';
@import 'components/footer';

.main__container {
  display: flex;
}

.grid__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.search__container {
  display: flex;
  flex-direction: column;
}

.fav-series__container {
  width: 20vw;
}

.css-card {
  color: red;
  background-color: #fabada;
  list-style: none;
  &:hover {
    border: 3px solid red;
    cursor: pointer;
  }
}
