<main class="main__container">
  <div class="search__container">
    <form action="">
      <input class="js-search-input css-input" type="text" />
      <button class="js-search-btn css-search-btn">Buscar</button>
      <button class="js-log-btn css-log-btn">Log</button>
    </form>
    <div class="fav-series__container">
        <h2>Mis series favoritas</h2>
        <ul class="js-fav-list"></ul>
      </ul>
    </div>
  </div>
  <div class="display__container">
    <section class="grid__container js-search-display"></section>
  </div>
</main>
